.container {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
}
